.container-fluid:nth-child(1){
     position: relative;
    background: black;
    color: white; 
      .container:nth-child(1){
         
          p{
            
      margin-top: 13px;
    }   
      }

}




.container-fluid:nth-child(2){
    background: grey;
}
.border{
    border-top: 1px rgba(0, 0, 0, 0.2) solid;
}
div[class*="col"] {
        padding-left: 0px;  
}
.container-fluid{
    .container{
        .row{
h1{
    color: black;
    padding-top: 55px;
    font-family: sans-serif;
    font-weight: 600;
}
        }
    }
    .btn-info{
        margin-bottom: 60px; 
        background: #428bca;
        border-color: #428bca;
    }

}
.container:nth-child(3){
    h3{
        margin-top: 60px; 
    }
    .border{
        margin-top: 30px;
        .fa-copyright{
            margin-top: 30px; 
        }
    }
}

   
.form-inline{
    margin-top: 5px;
}